<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Demo Eks App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

{% block navbar %}
<nav class="navbar">
    <img src="/static/images/kube-logo.svg" alt="Kubernetes Logo" width="200" height="50">
</nav>
{% endblock %}

{% block content %}

<body>

    <div class="bg-image">
        <div class="container">
            <div class="align-center">
                <img class="logo" src="/static/images/kube.png">
            </div>
            <div class="app-title">
                <h2>HELLO ENGINEER, YOUR KUBERNETES APPLICATION IS READY TO ROCK AND ROLL!
                </h2>
            </div>
            <div class="network-info">
                <p>YOUR EKS APP IS RUNNING ON INSTANCE WITH ID {{ network_interface_info.instance_id }} IN
                    AVAILABILITY
                    ZONE {{ network_interface_info.availability_zone }}</p>
                <p>APPLICATION POD WITH NAME {{ network_interface_info.pod_name }} IS RUNNING IN NAMESPACE {{
                    network_interface_info.pod_namespace }}</p>
                <p>APP NAME: {{ network_interface_info.app_name }}</p>
                <p>REQUESTED URI: {{ network_interface_info.requested_uri }}</p>
                <p>REQUESTER IP ADDRESS: {{ network_interface_info.client_ip_address }}</p>
                {% for key,value in network_interface_info.optionals.items() %}
                <p>{{ key }} &nbsp {{ value }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
